.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  font-size: 0.85rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0 31px 0px rgb(0 0 0 / 5%);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.todo:hover {
  background-color: #e6f1fb;
}

.todo-item {
  width: 70%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
}

.buttons {
  width: 20%;
  display: flex;
  gap: 5px;
}

.btn-done {
  color: #1cab53;
}

.btn-delete {
  color: #e71329;
}

.btn-delete img,
.btn-done img {
  width: 22px;
  height: 22px;
}

.btn-delete,
.btn-done {
  width: 26px;
  height: 26px;
  cursor: pointer;
  background: none;
  border: 2px solid;
  border-radius: 50%;
  transition: 0.25s;
}

.btn-done:active {
  animation: pulse1 0.2s;
  box-shadow: 0 0 0 1em transparent;
}
@keyframes pulse1 {
  0% {
    box-shadow: 0 0 0 0 #1cab53;
  }
}

.btn-delete:active {
  animation: pulse2 0.2s;
  box-shadow: 0 0 0 1em transparent;
}
@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0 #e71329;
  }
}

/* Special Class */
.completed {
  text-decoration: line-through;
  color: #455963;
  opacity: 0.5;
}

.btn-filled {
  background-color: #24dc6b;
}
